
.chartTitle {
  margin-bottom: 20px;
}


.chartSelect{
  display: flex;
  margin-left: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.chartSelect > select{
  margin-left: 20px;
  border: none;
  padding: 10px;
  background-color: azure;
}
